html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
nav {
  background-color: #f5f9ff;
  height: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
body {
  margin-bottom: 60px;
  background-color: #ffffff;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%), url("./images/search.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.search-form {
  /*background-color: #bad5ff;*/
  height: 200px;
  display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid rgba(187, 187, 187, 0.73);

  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #ffffff;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.destinations{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.loading-spinner {
  text-align: center;
  font-size: 24px;
}